<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spider</title>
</head>
<body>
    <div class="container">
        <h3>Join</h3><br><br>
        <a href="{{ url_for('users.register') }}" class="btn btn-primary btn-lg btn-block" role="button">Rejestracja</a>
        <a href="{{ url_for('users.login') }}" class="btn btn-light btn-lg btn-block" role="button">Logowanie</a>
    </div>
</body>
</html>